extends layout

block content
    div(class="w3-row-padding")
        div(class="w3-col m3 w3-border-right")
            div(class="w3-bar-block")
                button(id="users" class="w3-bar-item w3-button") Utilizadores 
                    i(class="fas fa-user")
                button(id="recursos" class="w3-bar-item w3-button") Recursos 
                    i(class="fas fa-file")
                button(id="logs" class="w3-bar-item w3-button") Logs 
                    i(class="fas fa-edit")
                button(id="stats" class="w3-bar-item w3-button") Estatisticas 
                    i(class="fas fa-chart-bar")
        div(id="display" class="w3-col m9")

    script.
        $(function () {
            $("#users").click(function(){
                $.get("http://localhost:8002/users",function(data){
                    var utilizadores = data.dados
                    //@TODO: criar primeiro tabela com um id
                    var tabela = `
                    <table>

                    </table>
                    `
                    $("#display").append(tabela)
                    //@TODO: dps adicionar a tabela com id x os users todos com butoes para se poder alterar
                    //meter botao com id do tipo editar-id_user, ver o que fiz no editar deve ser +- parecido
                })
            })
        })